
<div class="size center-v center-h">
  <button @onclick="runWatch">Start Timer</button>
</div>



<br />
 
<style>
.size {
  height: 4em;
  width:4em;
  padding:4em;
  margin:4em;
}
.center-v {
  display: flex;
  align-items: center;
  border: solid lavender 2px;
  border-radius:100%;
  background-color: lavender;
}
.center-h {
  display: flex; /* or display:grid */
  justify-content: center;
}

</style>



@code {


}
